body{
    background-color: #DEB887;
    font-family: Verdana; 
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
}

.textt{    
    display: flex;
    justify-content: center;
    text-align: center;
    width: 700px;
    height: 30px;
    border-radius: 25px;
}

h2{
    color: white;
    font-size: 20px;
    margin-left: 15px;
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0 15px 0 0;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #333;
  border-radius: 5px;
  width: 150px;
  flex-direction: column; 
}

.menu.menu-active {
  display: flex;
}

.menu li {
  border-bottom: 1px solid #555;
  padding: 10px;
}

.menu li:last-child {
  border-bottom: none;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
}

.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 10px 15px;
    user-select: none;
}


.menu-button.active .line:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.menu-button.active .line:nth-child(2) {
  opacity: 0;
}

.menu-button.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

.line {
  width: 42px;
  height: 8px;
  background-color: white;
  margin: 6px 0;
  border-radius: 2px;
  transition: all 0.3s ease;
}

@media (min-width: 900px) {
  .menu {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px; 
    background-color: #333;
    border-radius: 5px;
  }

  .menu {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

p{
  text-align: center;
  /* font-size: 20px; */
}

.author{
    font-weight: bolder;
    text-align: center;
    font-size: 35px;
}

.cartinca{
    width: 300px;
    height: 300px;
    outline: 5px solid black;
  filter:brightness(45%);
  border-radius: 100%;
}