body{
  background: linear-gradient(90deg, #b0814f,#cd955b,#d6aa7a);
  font-family: Verdana; 
}

header{
  display: flex;
  justify-content: space-between;
   align-items: center;
  background-color: #070e18;
}

.textt{    
  display: flex;
  justify-content: center;
  text-align: center;
  width: 700px;
  height: 30px;
  border-radius: 25px;
}

p{
  text-align: center;
} 

h1{
  color: white;
  font-size: 22px;
  margin-left: 20px;
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0 15px 0 0;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #333;
  border-radius: 5px;
  width: 150px;
  flex-direction: column; 
}

.menu.menu-active {
  display: flex;
}

.menu li {
  border-bottom: 1px solid #555;
  padding: 10px;
}

.menu li:last-child {
  border-bottom: none;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 10px 15px;
  user-select: none;
}


.menu-button.active .line:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.menu-button.active .line:nth-child(2) {
  opacity: 0;
}

.menu-button.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

.line {
  width: 42px;
  height: 8px;
  background-color: white;
  margin: 6px 0;
  border-radius: 2px;
  transition: all 0.3s ease;
}

@media (min-width: 900px) {
  .menu {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px; 
    background-color: #333;
    border-radius: 5px;
  }

  .menu {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

#square{
  background: snow;
  width: 120px;
  height: 120px;
}

.chord{
  display: flex;
  justify-content: space-around;
}

.chord1{
  display: flex;
  position: absolute;
  top: 25%;
  right: 46%;
}

.container {
  position: relative;
  display: inline-block;
}